@using Microsoft.AspNetCore.Http
@using LMS.Model.DataViewModel.Shared
@model ResetPasswordViewModel

<style>
    .has-success {
        background: green;
    }

    .has-error {
        background: red;
    }
</style>
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Change Password</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadCrumb"><a href="/Home/Index/">Home</a> / <span>Change password</span></div>
            </div>
        </div>
    </div>
</div>
@{
    UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);

    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-5 col-md-offset-4">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">

                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">Change Password</h2>
                                    @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
                                    {
                                        <div class="alert alert-success" role="alert"><strong>Well done!</strong>&nbsp; @ViewData["SuccessMessage"]</div>
                                        <div><a asp-controller="Auth" asp-action="JobSeekerLogin">Click to login</a></div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["NotFoundMessage"])))
                                    {
                                        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong>&nbsp; @ViewData["NotFoundMessage"]</div>

                                    }
                                    @if (user == null && string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
                                    {
                                        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong>&nbsp; Your Password is expired ,Create a New Password </div>
                                    }
                                    <div class="panel-body">
                                        <form class="form" asp-action="CreateNewPassword" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        @if (user != null)
                                                        {

                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                                            <input type="email" readonly asp-for="Email" name="Email" value=@user.Email class="form-control" placeholder="Registerd Email" required>
                                                        }
                                                        else
                                                        {
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                                            <input type="email" readonly asp-for="Email" name="Email" class="form-control" placeholder="Registerd Email" required>
                                                        }
                                                    </div><br />
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                                        <input type="password" asp-for="OldPassword" name="OldPassword" class="form-control" maxlength="100" placeholder="Current Password" required>
                                                    </div><br />
                                                    <div class="input-group">
                                                        <span class="input-group-addon" for="Password"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                                        <input type="password" asp-for="Password" maxlength="100" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" class="form-control input-block-level" placeholder="New Password" required>
                                                    </div>

                                                    <br />
                                                    <div class="input-group">
                                                        <span class="input-group-addon" for="ConfirmPassword"><i class="glyphicon glyphicon-lock color-blue input-block-level"></i></span>
                                                        <input type="password" class="form-control" name="ConfirmPassword" maxlength="100" placeholder="Confirm Password" required>
                                                    </div>
                                                    <p style="font-size:11px">* Password must contain at least one number one uppercase One lowercase letter and one special characters and minimum 8 characters</p>
                                                </div>

                                                <div class="form-group">
                                                    <input class="btn btn-lg btn-primary btn-block" value="Save" type="submit">
                                                </div>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}


