@using LMS.Model.DataViewModel.Shared;

@model UserViewModel

<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Forgot Password</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadCrumb"><a href="/Home/Index/">Home</a> / <span>Forgot Password</span></div>
            </div>
        </div>
    </div>
</div>
<div class="listpgWraper">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                @if (Convert.ToString(@ViewData["SuccessMessage"]) == "User not found")
                                {
                                    <div class="alert alert-danger" role="alert">Email is not registerd with us</div>
                                }
                                else if (Convert.ToString(@ViewData["SuccessMessage"]) == "data not found")
                                {
                                    <div class="alert alert-danger" role="alert">Email is not registerd with us</div>
                                }
                                else if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
                                {
                                    <div class="alert alert-success" role="alert">@ViewData["SuccessMessage"]</div>
                                }
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">Forgot Password?</h2>

                                <div class="panel-body">

                                    <form class="form" asp-action="ForgotPassword" method="post">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                                                    <input type="email" asp-for="Email" name="email" size="100" class="form-control" placeholder="Email" typeof="email" required>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <input class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>