@using LMS.Model.DataViewModel.Shared
@model UserViewModel
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Reset Password</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadCrumb"><a href="/Home/Index/">Home</a> / <span>Reset Password</span></div>
            </div>
        </div>
    </div>
</div>
<div class="listpgWraper">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                @*@if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
                                    {
                                        <div class="alert alert-success" role="alert"><strong>Well done!</strong>&nbsp; @ViewData["SuccessMessage"]</div>
                                    }*@
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">Reset Your Password</h2>

                                <div class="panel-body">
                                    <form class="form" asp-action="ResetPassword" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                    <input type="password" asp-for="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" class="form-control" maxlength="100" placeholder="Password" required>
                                                </div><br />
                                                    <p style="font-size:11px;color:red">* Password must contain at least one number one uppercase One lowercase letter and one special characters and minimum 8 characters</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                    <input type="password" name="ConfirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" maxlength="100" placeholder="Confirm Password" required>
                                                </div>
                                            </div>
                                            <input type="hidden" asp-for="Email" name="Email" />
                                            <div class="form-group">

                                                <input class="btn btn-lg btn-primary btn-block" value="Change password" type="submit">
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>