/*.frame {
    /*position: absolute;
    width: 400px;*
    height: 380px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /*background: linear-gradient(to top right, darkgrey 0%, lightgrey 100%);*
    background-color: #1E2832;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 300px;*/
    /*height: 290px;*
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #999;
    text-align: center;
    margin-bottom: 10px;
    height:46px;
}

.title > h5{
    /*padding-left:25%;
}

h1 {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.dropzone {
    /*width: 100px;
    height: 185px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
}

.dropzone > p {
    padding: 5px;
    color: lightcoral;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}

.upload-input {
    position: relative;
    top: -143px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.UploadFilebtn {
    display: block;
    width: 140px;
    height: 40px;
    background-color: #ff3f3f !important;
    border-color: #ff3f3f !important;
    color: #fff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 3px 0 0 hotpink;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .UploadFilebtn:hover {
        background: rebeccapurple;
        box-shadow: 0 3px 0 0 deeppink;
    }
.col-sm-offset-4 {
     margin-left: 20%;
     margin-right:20%
}
.white {
    color: white;
    text-align:center;
    padding-top:10px;
    
}

.fa-file-photo-o::before, .fa-file-picture-o::before, .fa-file-image-o::before {
    content: "\f1c5";
}
.imgupload {
    color: #1E2832;
    padding-top: 10px;
    font-size: 7em;
}

.template-download-link-container {
    float: right;
}
@media (min-width: 900px) {

    .title > h5 {
        text-align:center;
    }
}
@media (min-width: 324px) and (max-width: 400px) {

    .title > h5 {
        font-size:initial
    }
    .template-download-link-container {
        font-size:small;    
    }
}*/



.zone {
    margin: auto;
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at center,#5aebeb 0,#2f7bc9 100%);
    width: 40%;
    height: 50%;
    border: 5px dashed white;
    text-align: center;
    color: white;
    z-index: 20;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
}


.btn .active {
    background: #EB6A5A;
    color: white;
}

.selectFile {
    height: 50px;
    margin: 20px auto;
    position: relative;
    width: 200px;
}

label, input {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
}

label {
    background: #fff;
    color: #EB6A5A;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 1px 1px gray;
}

input[type=file] {
    opacity: 0;
}
.zone.fade {
    transition: all 0.3s ease-out;
    opacity: 1;
}